<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>STxHUG - South Texas Hyperion User Group</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- Place favicon.ico in the root directory -->
        {{ range first 1 (where .Site.Pages.ByPublishDate.Reverse "Section" "meeting") }}
        <meta itemprop="name" content="{{ .Param "Title" }}">
        <meta itemprop="description" content="{{ .Param "meeting" }} at {{ .Param "address" }}">
        <meta itemprop="image" content="https://stxhug.org/img/STxHUG-circ.png">
        
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="https://stxhug.org/img/STxHUG-circ.png">
        <meta name="twitter:site" content="@STxHUG">
        <meta name="twitter:title" content="{{ .Param "Title" }}">
        <meta name="twitter:description" content="{{ .Param "meeting" }} at {{ .Param "address" }}">
        <meta name="twitter:creator" content="@STxHUG">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="https://stxhug.org/img/favicon/apple-icon-144x144.png">
        
        <!-- Open Graph data -->
        <meta property="og:title" content="{{ .Param "Title" }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://stxhug.org" />
        <meta property="og:image" content="https://stxhug.org/img/STxHUG-circ.png" />
        <meta property="og:description" content="{{ .Param "meeting" }} at {{ .Param "address" }}" />
        <meta property="og:site_name" content="South Texas Hyperion Users Group" />
        <meta property="article:published_time" content="{{ .Param "Date" }}" />
        <meta property="article:modified_time" content="{{ .Hugo.BuildDate }}" />
        <meta property="article:section" content="Oracle EPM" />
        <meta property="article:tag" content="Oracle EPM, Hyperion, ODTUG, Essbase" />
        {{ end }}

        <link rel="stylesheet" href="/css/scss/{{ index .Site.Data.css.hash "bulma.css" }}">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/scss/{{ index .Site.Data.css.hash "main.css" }}">
        <link rel="stylesheet" href="/css/scss/{{ index .Site.Data.css.hash "font-awesome.css" }}">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <style>

        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <section class="hero is-medium is-bold">
        {{ partial "nav.html" . }}
        <div class="hero-body bg-img">
            <div class="container has-text-centered">
                <h1 class="title">
                    {{ if .Title }}
                        {{ .Title }}
                    {{ else }}
                        Next Meeting
                    {{ end }}
                </h1>
            </div>
        </div>
    </section>