{{ partial "header.html" .}}
        <section class="section">
            {{ range after 1 (where (sort .Data.Pages "Date" "desc") "Type" "meeting") }}
                <div class="hero is-bold is-light">
                    <div class="hero-body">
                        <div class="container">
                            <span class="is-pulled-right">{{ dateFormat "Monday, Jan 2, 2006" .Params.date }}</span>
                            <h1 class="title">{{ .Title }}</h1>
                            <div class="columns">
                                <div class="column">
                                    <figure class="media-left">
                                        <ul id="slides">
                                            {{ $path := .Params.Photos }}
                                            {{ $staticPath := (printf "static/%s" $path) }}
                                            {{ $isfirst := index (readDir $staticPath) 0 }}
                                            {{ range (readDir $staticPath) }}
                                                <li class="slide{{ if eq . $isfirst }} showing{{ end }}"><img src="/{{ $path }}/{{ .Name }}" /></li>
                                            {{ end }}
                                        </ul>
                                    </figure>
                                </div>
                                <div class="column">
                                    {{ .Content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </section>
{{ partial "footer.html" . }}