{{ partial "header.html" .}}
        <section class="section">
            <div class="container content">
                {{ range first 1 (where (sort .Data.Pages "Date" "desc") "Type" "meeting") }}
                    <div class="tile is-ancestor">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child">
                                <p class="title">You're Invited</p>
                                <p>
                                    Mark your calendar, the next South Texas Hyperion User Group get together 
                                    will take place {{ .Param "Meeting" }} at {{ .Param "Location" }}
                                </p>
                                <p>
                                    Come hang out and network with other Houston area EPM users in a fun and casual environment.
                                </p>
                            </div>
                            <div class="tile is-child">
                                <p class="title">Meeting Details</p>
                                <div class="columns">
                                    <div class="column is-3">Date/Time:</div>
                                    <div class="column">{{ .Param "Meeting" }}</div>
                                </div>
                                <div class="columns">
                                    <div class="column is-3">Location:</div>
                                    <div class="column">
                                        {{ .Param "Location" }}
                                        {{ if isset .Params "location_map_url" }}
                                            <a href="{{ .Param "Location_Map_URL" }}" target="_blank">(map)</a>
                                        {{ end }}
                                        <br/>
                                        {{ .Param "Address" }}</div>
                                </div>
                                {{ if isset .Params "cost" }}
                                    <div class="columns">
                                        <div class="column is-3">Cost:</div>
                                        <div class="column">{{ .Param "Cost" }}</div>
                                    </div>
                                {{ end }}
                            </div>
                            {{ if isset .Params "post_meeting" }}
                                <div class="tile is-child">
                                    <p class="title">Happy Hour</p>
                                    <div class="columns">
                                        <div class="column is-3">Place/Time:</div>
                                        <div class="column">{{ .Param "Post_Meeting" }}</div>
                                    </div>
                                    {{ if isset .Params "post_location" }}
                                        <div class="columns">
                                            <div class="column is-3">Location:</div>
                                            <div class="column">{{ .Param "Post_Location" }}</div>
                                        </div>
                                    {{ end }}
                                    {{ if isset .Params "post_cost" }}
                                        <div class="columns">
                                            <div class="column is-3">Cost:</div>
                                            <div class="column">{{ .Param "Post_Cost" }}</div>
                                        </div>
                                    {{ end }}
                                </div>
                            {{ end }}
                        </div>
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child">
                                <div class="is-pulled-right">
                                    <a class="icon" href="https://twitter.com/intent/tweet?text=Mark%20your%20calendar,%20STxHUG%20is%20meeting%20{{ .Param "Meeting" | safeURL }}%20at%20{{ .Param "Location" | safeURL}}&url=https://stxhug.org/"
                                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                                        <i class="fa fa-twitter"></i>
                                        <span class="hidden">Twitter</span>
                                    </a>
                                    <a class="icon" href="https://www.linkedin.com/shareArticle?mini=true&url=https://stxhug.org/&title=Mark%20your%20calendar,%20STxHUG%20is%20meeting%20{{ .Param "Meeting" | safeURL }}%20at%20{{ .Param "Location" | safeURL}}&summary=&source="
                                        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                                        <i class="fa fa-linkedin"></i>
                                        <span class="hidden">LinkedIn</span>
                                    </a>
                                    <a class="icon" href="https://www.facebook.com/sharer/sharer.php?u=https://stxhug.org/"
                                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                                        <i class="fa fa-facebook"></i>
                                        <span class="hidden">Facebook</span>
                                    </a>
                                </div>
                            </div>                             
                            <div class="tile is-child box">
                                <img src="{{ .Param "Location_Image" }}" alt="{{ .Param "Location" }}" />
                            </div> 
                            {{ if (isset .Params "location_map")}}
                            <div class="tile is-child box">
                                <iframe src="{{ .Param "Location_Map" }}" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>    
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <p>{{ .Content }}</p>
                {{ end }}
                <p>
                    ​Bring your EPM technical questions, victories, gripes, and ideas, because there is always a contingent of smart consultants, developers, and administrators from a variety of firms and backgrounds who have seen it all, and are more than happy to chat and share their vast experiences and knowledge.
                </p>
                <p>
                    We hope to see you there!   :)
                </p>
            </div>
        </section>
{{ partial "footer.html" . }}